Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-Mail==0.9.1
yfinance==0.2.36
pandas
requests
scipy
numpy
matplotlib
Flask-Session==0.5.0
scikit-learn
urllib3<2.0.0 
schedule
PyPortfolioOpt==1.5.5
Werkzeug==2.3.7
pytz
psycopg2-binary
gunicorn
python-dotenv
redis